.nav_pagi {
    margin: 20px 0px;
}
.f-left {
    float: left !important;
}
.clearfix {
    *zoom: 1;
}
.w_100 {
    width: 100%;
}

.nav_pagi .pagination {
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 999;
    padding: 0 0px;
    margin: 0;
}
.clearfix {
    *zoom: 1;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.nav_pagi .pagination .page-link {
    float: left;
    margin: 0px 2px;
    border-radius: 50%;
    width: 30px;
    background: transparent;
    text-align: center;
    height: 30px;
    font-size: 14px;
    padding: 0;
    line-height: 30px;
    color: #707070;
    border: 1px solid #ebebeb;
    text-decoration: none;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 50%;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 50%;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}